/* Reset some default browser styles */
body, h1, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

main {
    text-align: center;
    padding: 2em;
}

.btn-primary {
    background-color: #007BFF;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em;
    position: absolute;
    bottom: 0;
    width: 100%;
}
